<section class="relative overflow-hidden pb-12">
  <!-- Background with opacity -->
  <div
    class="absolute inset-0 z-0 bg-cover bg-center bg-no-repeat"
    style="background-image: url('./assets/images/background-3.jpg')">
    <div class="absolute inset-0 bg-black opacity-10"></div>
  </div>

  <div
    class="container relative z-10 mx-auto mt-24 rounded-lg border-2 border-white/50 bg-background/20 px-12 py-8 text-white shadow-lg shadow-white/50">
    <h1 class="mb-4 text-3xl font-bold">{{ 'ABOUT_US.TITLE' | translate }}</h1>

    <p class="mb-6 text-lg text-white">{{ 'ABOUT_US.DESCRIPTION' | translate }}</p>

    <h2 class="mb-2 text-2xl font-bold">{{ 'ABOUT_US.MISSION.TITLE' | translate }}</h2>
    <p class="mb-6 text-lg text-white">{{ 'ABOUT_US.MISSION.DESCRIPTION' | translate }}</p>

    <h2 class="mb-2 text-2xl font-bold">{{ 'ABOUT_US.VISION.TITLE' | translate }}</h2>
    <p class="mb-6 text-lg text-white">{{ 'ABOUT_US.VISION.DESCRIPTION' | translate }}</p>

    <h2 class="mb-2 text-2xl font-bold">{{ 'ABOUT_US.UNIQUENESS.TITLE' | translate }}</h2>
    <ul class="mb-6 list-disc pl-6 text-lg text-white">
      <li *ngFor="let feature of translationData['ABOUT_US.UNIQUENESS.FEATURES'] || []">{{ feature | translate }}</li>
    </ul>

    <h2 class="mb-2 text-2xl font-bold">{{ 'ABOUT_US.GET_INVOLVED.TITLE' | translate }}</h2>
    <p class="mb-6 text-lg text-white">{{ 'ABOUT_US.GET_INVOLVED.DESCRIPTION' | translate }}</p>
    <ul class="mb-6 list-disc pl-6 text-lg text-white">
      <li *ngFor="let opportunity of translationData['ABOUT_US.GET_INVOLVED.OPPORTUNITIES'] || []">
        {{ opportunity | translate }}
      </li>
    </ul>
  </div>
</section>
